@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Whitney';
  src: url('/whitney/whitney-light.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Whitney';
}
